Repository t184256/toy-dns-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets -- --deny warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-fmt
        name: taplo fmt
        entry: taplo fmt --check
        language: system
        types: [toml]


      - id: cargo-deny
        name: cargo deny check licenses
        entry: cargo deny check licenses
        language: system
        pass_filenames: false
        always_run: true

implement a rudimentary DNS server...
  .rustfmt.toml
  Cargo.lock
  Cargo.toml
  README.md
  deny.toml
  flake.nix
  src/lib.rs
  src/main.rs
  src/packet/answer.rs
  src/packet/dns_name.rs
  src/packet/error.rs
  src/packet/header.rs
  src/packet/mod.rs
  src/packet/question.rs
  tests/example.query.bin
  tests/example_query.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt

refactor QClass/QType to better share it with the answers
  src/lib.rs
  src/packet/answer.rs
  src/packet/mod.rs
  src/packet/protocol_class.rs
  src/packet/question.rs
  src/packet/record_type.rs
  tests/example_query.rs
Due: cargo-fmt, cargo-clippy

implement config parsing
  Cargo.lock
  Cargo.toml
  flake.nix
  src/lib.rs
  src/main.rs
  src/zone_config.rs
  tests/example_query.rs
  tests/example_zone.yaml
Due: cargo-fmt, cargo-clippy, taplo-fmt

return multiple answers if there are multiple matches
  src/lib.rs
  src/zone_config.rs
  tests/example_query.rs
Due: cargo-fmt, cargo-clippy

actually use the ttl from the config
  src/lib.rs
  src/zone_config.rs
Due: cargo-fmt, cargo-clippy

tests: expand to use more record types
  tests/example_query.rs
  tests/example_zone.yaml
Due: cargo-fmt, cargo-clippy

Apply a few refactoring suggestions
  src/lib.rs
  src/packet/answer.rs
  src/packet/dns_name.rs
  src/packet/header.rs
  src/packet/mod.rs
  src/packet/protocol_class.rs
  src/packet/question.rs
  src/packet/record_type.rs
  src/zone_config.rs
Due: cargo-fmt, cargo-clippy

add TCP support
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt

test command-line invocation against a real DNS client
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  flake.nix
  tests/integration_test.rs
Due: cargo-fmt, cargo-clippy, taplo-fmt

add a NixOS integration test, wow
  .github/workflows/ci.yml
  flake.nix
  nixos-test.nix
Due: none
